*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: auto;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: var(--secendary_color);
  letter-spacing: 0.3rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
