/* mobile */
.main-header {
  position: relative;
  overflow: hidden;
  height: 3.1rem;
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  background: var(--liniar_color);
}
.company-name img {
  height: 3.5rem;
  width: 6rem;
}

.logo img {
  height: 3rem;
  margin: 0.3rem 0;
}
