/* mobile */
.main-header {
  position: relative;
  height: 3.3rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: var(--primary_color);
  /* border: 0.5px solid var(--nav-border_color); */
  border-radius: 2px;
  /* overflow: hidden; */
}
.logo-wrapper {
  gap: 2rem;
}
@media (max-width: 23rem) {
  .logo-wrapper {
    gap: 0.5rem;
  }
}
.company-name img {
  height: 3.5rem;
  width: 10rem;
}

.logo img {
  height: 3rem;
  padding: 0.3rem auto;
}

@media (min-width: 45rem) {
  .main-header {
    height: 3.3rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    background: var(--primary_color);
    /* border: 0.5px solid var(--nav-border_color); */
    border-radius: 0;
    position: fixed;
    inset: 0;
    z-index: 200;
  }
}
