.section-one {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 380px;
  background-image: url("/img&svg/section-one-lightpink.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}
.section-one_text {
  letter-spacing: 0.2rem;
  padding-left: var(--base_padding);
}
.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
.section-two_title {
  margin: 2rem auto;
  letter-spacing: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
}
.section-two_title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--acent_color);
  bottom: 0;
  left: 0;
}
.secton-two_txt {
  font-size: 14px;
  width: 80%;
}
