.main-conteiner {
  position: relative;
  background: rgba(255, 255, 255, 0.9) url(../img&svg/nail-background.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  z-index: -5;
}
.section-one {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 100%;
  min-height: 380px;
  background-image: url(../img&svg/color-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: -1;
  box-shadow: inset 0px 0px 50px 10px rgba(137, 1, 75, 0.5);
}
.section-one_text {
  letter-spacing: 0.2rem;
  padding: calc(var(--base_padding) * 5) 0;
  font-size: 2rem;
}
.secton-two_txt {
  font-size: 14px;
  width: 80%;
}
.section-underline_title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--acent_color);
  bottom: 0;
  left: 0;
}
.section-underline_title {
  margin: 2rem auto;
  letter-spacing: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
}
.section-three_servic {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  margin-bottom: 2rem;
  perspective: 400px;
  perspective-origin: 50%;
}

.section-three_li {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(137, 1, 75, 0.5);
  border-radius: 50%;
  padding: 0 4rem 1rem 0;
  transform: rotateX(30deg);
  box-shadow: -2px 15px 7px 5px rgba(0, 0, 0, 0.2),
    inset 0px 0px 1px 2px rgba(137, 1, 75, 0.2);
}
.section-three_servic > .section-three_li::before {
  content: "";
  display: inline-block;
  height: 4rem;
  width: 4rem;
  margin: -0.7rem 1rem;
  padding: 1rem var(--base_padding);
  background-size: 4rem 4rem;
  background-image: url(../img&svg/nail-brush1.svg);
  background-repeat: no-repeat;
}

.section-four_gallery {
  min-width: 700px;
  display: flex;
  white-space: nowrap;
  gap: calc(var(--base_padding) * 3);
  overflow-x: auto;
}
.section-four_photo {
  height: 250px;
  width: 200px;
  border: 1px solid var(--primary_color);
}
.section-four_photo > img {
  height: 100%;
  width: 100%;
}
.section-four_photo:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
