/* ## mobile ## */
.hamburger-menu div {
  height: 2.5px;
  width: 25px;
  background: black;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.line-middel {
  margin: 5px 0;
  position: relative;
}
.hamburger-menu {
  position: fixed;
  right: 2rem;
  z-index: 99999;
}

/* making X from the hamburger nav lines */
/* ####################NAV############################## */
.active .line-top {
  transform: rotate(-45deg) translate(-11px, -2px);
}
.active .line-bottom {
  transform: rotate(45deg) translate(-11px);
}
.active .line-middel {
  transform: translateX(150px);
}
.active .line-middel::before {
  content: "";
  height: 8px;
  width: 3px;
  background: black;
  position: absolute;
  left: 21px;
  top: -5px;
  transform: rotate(-45deg);
}
.active .line-middel::after {
  content: "";
  height: 8px;
  width: 3px;
  background: black;
  position: absolute;
  left: 21px;
  top: -0.5px;
  transform: rotate(45deg);
}
/* ######################NAV########################## */
.main-nav_wrapper {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--liniar_color);
  min-height: 380px;
  min-width: 50%;
  cursor: pointer;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.nav-active {
  transform: translateX(0);
}
